body {
	font: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
	background-color: #F8F8F8;
	position: relative;
}

.clear {
    clear: both;
}

.cover h1 {
	font-family: 'Allura', cursive;
	font-size: 70px;
}

.cover p {
	color: white;
  	letter-spacing: 5px;
  	text-shadow: 0 2px 5px rgba(0,0,0,0.4);
  	font-size: 30px;
  	text-transform: uppercase;
  	text-align: center;
  	letter-spacing: 5px;
  	font-family: 'Pathway Gothic One';
}

.navbar-center {
    float: none;
    margin: 0px auto;
    display: table;
}

.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #777;
	font-size: 20px;
	font-family: "Pathway Gothic One";
}

#about {
    margin-top: 55px;
    margin-bottom: 44px;
}

.container-body {
	/*padding-left: 15px;
	padding-right: 15px;*/
	margin-top: 55px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.intro p {
	font-family: "Glegoo", Helvetica;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	margin: 0px 0px 10px;
}

.col-md-offset-1 {
	margin-left:8.3333333333%
}

.title {
    padding-top: 50px;
    margin-bottom: 55px;
}

.section-divisor {
	background-image: url("/imgs/title-bg.png");
	height: 65px;
	/* margin-bottom: 25px; */
}

.ribbon-title {
    display: table;
    margin: 0px auto;
    position: relative;
    vertical-align: middle;
}

.ribbon-title h3 {
    background-image: url("/imgs/ribbon_center.png");
    margin: 0px auto;
    height: 75px;
    display: table-cell;
    vertical-align: middle;
    padding: 0px 20px;
    color: #FFF;
    font-size: 40px;
    text-shadow: 0.5px -1px 0px #000;
}

@media only screen 
and (max-width: 767px) {
    .ribbon-title h3 {
      font-size: 32px;
    }
}

.ribbon-title h3:after,.ribbon-title h3:before{
	background-repeat:no-repeat;
	content:"";
	height:75px;
	width:55px;
	display:inline-block;
	background-size:contain;
	position:absolute;
	top:0
}

.ribbon-title h3:after{
	background-image:url("/imgs/ribbon_right.png");
	right:-55px
}

.ribbon-title h3:before{
	background-image:url("/imgs/ribbon_left.png");
	left:-40px
}

.pathway-font {
    font-family: "Pathway Gothic One";
}

.couple-photos img {
    /*border-radius: 100%;*/
    box-shadow: 0px 0px 0px 0.5em #FFF;
}

.no-hor-padding {
    padding-right: 0px;
    padding-left: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.fiancee .couple-photos img {
    float: right;
}

.col-xs-6 {
	padding-left: 0px;
	padding-right: 0px;
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    .fiancee .couple-info {
        position: absolute;
        right: 210px;
        top: 80px;
    }

    .fiance .couple-info {
        position: absolute;
        left: 210px;
        top: 80px;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    .fiance .couple-info {
        float: right;
    }
}

.fiancee .couple-info h3 {
    text-align: right;
    font-family: "Glegoo","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 10px;
    background-color: #FFF;
    font-size: 20px;
    color: #000;
    line-height: 1;
}

.fiancee .couple-info h2 {
    color: #FFF;
    padding: 10px;
    font-size: 30px;
    text-align: right;
    background-color: #F47D53;
}

.fiance .couple-info h3 {
    text-align: left;
    font-family: "Glegoo","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 10px;
    background-color: #FFF;
    font-size: 20px;
    color: #000;
}

.fiance .couple-info h2 {
    color: #FFF;
    padding: 10px;
    font-size: 30px;
    text-align: left;
    background-color: #37C6C1;
}

.couple-story {
    margin-top: 50px; 
}

.couple-story p, .couple-story span {
    font-family: "Glegoo","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.7;
}

.text-center {
    text-align: center;
}

.event {
  position: relative;
}

.event .description, .event .details {
  padding: 30px;
}

.event h2 {
  font-size: 32px;
}

.event h2, .event h3 {
  color: black;
  font-weight: 600;
  font-family: "Pathway Gothic One";
  text-transform: uppercase;
}

.event p, .event span {
  color: #666666;
  font-family: "Glegoo", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

.event-map {
    text-align: right;
}

.event-map img {
    display: inline;
}

.white-box {
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(204,204,204,0.2);
    padding: 30px;
}

#guest-confirmation-content h4 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#rsvp-btn {
  font-size: 27px;
  margin-top: 20px;
  padding: 5px 70px;
}

.glegoo-font {
  font-family: "Glegoo";
}

#rsvp-modal .modal-dialog .modal-content .modal-header h1 span {
  font-size: 15px;
  vertical-align: text-top;
}

.modal-content {
    background-color: #F8F8F8;
}

.modal-header, .modal-footer {
    border: none;
}

.rsvp-close-btn {
    min-height: 15px;
}

.rsvp-body {
    padding: 15px;
}

#rsvp-modal .modal-dialog .modal-content .rsvp-body .form-group input {
  width: 100%;
  height: 60px;
}

#rsvp-modal .modal-dialog .modal-content .rsvp-body .form-group label h1 {
    margin: 0px;
}

.btn-lg {
   font-size: 27px;   
}

.form-option {
    margin-top: 15px;
}

.rsvp-btns {
    margin-left: -15px;
    margin-right: -15px;
}

.rsvp-btns .form-option div {
    margin-top: 5px;
    margin-bottom: 5px;
}