body {
	font: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
}

.cover h1 {
	font-family: 'Allura', cursive;
	font-size: 70px;
}

.cover p {
	color: white;
  	letter-spacing: 5px;
  	text-shadow: 0 2px 5px rgba(0,0,0,0.4);
  	font-size: 30px;
  	text-transform: uppercase;
  	text-align: center;
  	letter-spacing: 5px;
  	font-family: 'Pathway Gothic One';
}

.navbar-center {
    float: none;
    margin: 0px auto;
    display: table;
}

.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #777;
	font-size: 20px;
	font-family: "Pathway Gothic One";
}

.container-body {
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 55px;
	margin-right: auto;
	margin-left: auto;
	width: 1170px;
	display: block;
}

.intro p {
	font-family: "Glegoo", Helvetica;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	margin: 0px 0px 10px;
}

.col-md-offset-1 {
	margin-left:8.3333333333%
}

#stories {
	padding-top: 50px;
}

.section-divisor {
	background-image: url("/imgs/title-bg.png");
	height: 65px;
	margin-bottom: 25px;
}