<div id="stories" class="title">
  <header class="section-divisor">
    <div class="ribbon-title">
      <h3 class="pathway-font">HISTÓRIA</h3>
    </div>
  </header>

  <section class="container-body">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="row">
          <div class="fiancee col-md-6 col-xs-6 no-hor-padding">
            <div class="row">
              <div class="couple-photos col-md-12 col-xs-12 no-hor-padding">
                <img class="img-circle img-responsive" alt="69b6b3f6 0ff2 4d07 8092 4ba08543cf8c" src="/imgs/noiva2.png" width="260" height="260">
              </div>
              <div class="couple-info col-md-4 col-xs-12">
                <div class="clear"></div>
                <h3>A Noiva</h3>
                <h2 class="text-uppercase pathway-font">Mairis Romero</h2>
              </div>
            </div>
          </div>
          <div class="fiance col-md-6 col-xs-6 no-hor-padding">
            <div class="couple-photos col-md-12 col-xs-12 no-hor-padding">
              <img class="img-circle img-responsive" alt="B1f26379 5562 4b98 a7b4 307d54cc3d50" src="/imgs/noivo2.png" width="260" height="260">
            </div>
            <div class="couple-info col-md-4 col-xs-12">
              <h3>O Noivo</h3>
              <h2 class="text-uppercase pathway-font">Raphael Batista</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row clear couple-story">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="text-center white-box">
          <p>Nossa história começa bem cedo, nos conhecemos desde os 8 anos de idade e com 12 anos Raphael já começava a descobrir um sentimento especial por Mairis, que anos depois viria a se tornar amor.</p>

          <p>Em 2010, após um tempo afastados, começamos a nos conhecer melhor e após três meses conversando diariamente, percebemos que não conseguíamos mais viver sem a presença um do outro, foi quando no dia 01 de maio de 2010, Raphael pediu para namorar com Mairis e ela aceitou.</p>

          <p>Conforme o tempo foi passando os quilômetros entre nós foram aumentando, mas a cada dia esse amor se tornava mais forte e maior era a vontade de estarmos juntos. Após cinco anos felizes e abençoados decidimos por fim as tristes despedidas e dar início a nossa história a dois.</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </section>
</div>
