<!DOCTYPE html>
<html ng-app="weddingApp" lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="imgs/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Glegoo' rel='stylesheet' type='text/css'>

    <title>Mairis Porquieres &amp; Raphael Batista</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/jquery.mask.min.js"></script>
    <script src="js/navbar.js"></script>
    <script src="app.module.js"></script>
    <script src="countdown.controller.js"></script>
    <script src="guestconfirmation.controller.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
   <!-- <link href="css/carousel.css" rel="stylesheet"> -->
    <link href="css/app.css" rel="stylesheet">
  </head>
  <body>
      

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide cover" data-ride="carousel">
      <!-- Indicators -->
      <!--
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="imgs/first.jpg" alt="First slide">
          
            <div class="carousel-caption">
              <h1 class="names">Mairis &amp; Raphael</h1>
              <p>10 de Outubro de 2015</p>
            </div>
          
        </div>
      </div>
    </div><!-- /.carousel -->


    <!-- NAVBAR
================================================== -->

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigationbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse text-center" id="navigationbar">
          <ul class="nav navbar-nav navbar-center">
            <li class="active"><a href="#myCarousel">Sobre</a></li>
            <li><a href="#stories">Hist&oacute;ria</a></li>
            <li><a href="#events">Eventos</a></li>
            <li><a href="#guest-confirmation">Confirmar Presen&ccedil;a</a></li>
            <li><a href="#">&Aacute;lbuns</a></li>
            <li><a href="#">Mensagens</a></li>
            <li><a href="#wish-list">Lista de presentes</a></li>
            <li><a href="#">Dicas</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!--
    <section class="container-body">
        <div class="row">
            <div class="col-md-10 col-xs-12 col-md-offset-1">
                <article class="intro text-center">
                    <p>Olá amigos e familiares! O dia mais especial de nossas vidas está chegando e gostaríamos muito, mas muito mesmo, de contar com a presença de todos vocês! Será um dia inesquecível, alegre e marcado para sempre!
                    </p>
                </article>
            </div>
        </div>
    </section>
    -->
    <div id="about" class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <article class="intro text-center white-box">
          <p>Olá amigos e familiares! O dia mais especial de nossas vidas está chegando e gostaríamos muito, mas muito mesmo, de contar com a presença de todos vocês! Será um dia inesquecível, alegre e marcado para sempre!</p>
        </article>
      </div>
      <div class="col-md-2"></div>
    </div>


    <!-- STORIES
    ================================================== -->

    <div id="stories" class="title">

        <header class="section-divisor">
            <div class="ribbon-title">
                <h3 class="pathway-font">HISTÓRIA</h3>
            </div>
        </header>


        <section class="container-body">

            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <div class="row">

                  <div class="fiancee col-md-6 col-xs-6 no-hor-padding">
                    <div class="row">
                      <div class="couple-photos col-md-12 col-xs-12 no-hor-padding">
                        <img class="img-circle img-responsive" alt="69b6b3f6 0ff2 4d07 8092 4ba08543cf8c" src="/imgs/noiva.png" width="260" height="260">
                      </div>
                      <div class="couple-info col-md-4 col-xs-12">
                        <div class="clear"></div>
                        <h3>A Noiva</h3>
                        <h2 class="text-uppercase pathway-font">Mairis Romero</h2>
                      </div>
                    </div>
                  </div>

                  <div class="fiance col-md-6 col-xs-6 no-hor-padding">
                    <div class="couple-photos col-md-12 col-xs-12 no-hor-padding">
                      <img class="img-circle img-responsive" alt="B1f26379 5562 4b98 a7b4 307d54cc3d50" src="/imgs/noivo.png" width="260" height="260">
                    </div>
                    <div class="couple-info col-md-4 col-xs-12">
                      <h3>O Noivo</h3>
                      <h2 class="text-uppercase pathway-font">Raphael Batista</h2>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-2"></div>
            </div>

   
            <div class="row clear couple-story">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <div class="text-center white-box">
                  <p>Nossa história começa bem cedo, nos conhecemos desde os 8 anos de idade e com 12 anos Raphael já começava a descobrir um sentimento especial por Mairis, que anos depois viria a se tornar amor.</p>

                  <p>Em 2010, após um tempo afastados, começamos a nos conhecer melhor e após três meses conversando diariamente, percebemos que não conseguíamos mais viver sem a presença um do outro, foi quando no dia 01 de maio de 2010, Raphael pediu para namorar com Mairis e ela aceitou.</p>

                  <p>Conforme o tempo foi passando os quilômetros entre nós foram aumentando, mas a cada dia esse amor se tornava mais forte e maior era a vontade de estarmos juntos. Após cinco anos felizes e abençoados decidimos por fim as tristes despedidas e dar início a nossa história a dois.</p>
                </div>
              </div>
              <div class="col-md-2"></div>
            </div>
        </section>
    </div>


     <!-- EVENTS
    ================================================== -->

    <div id="events" class="title">
      <header class="section-divisor">
            <div class="ribbon-title">
                <h3 class="pathway-font">EVENTOS</h3>
            </div>
        </header>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      
      <div class="col-md-8">
        
        <div class="event white-box">
          <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-4 no-hor-padding">
              <div class="description">
                <h2 class="uppercase pathway-font">Cerim&ocirc;nia e Festa</h2>
                <p></p>
                <p>O There Restaurante fica localizado na Rua Lu&iacute;s Gama, 1848 - Jardim Arapua na cidade de Lins - SP.</p>
                <p></p>
              </div>
            </div>

            <div class="col-md-4 col-xs-12 col-sm-4 no-hor-padding">
              <div class="details">
                <h3>Quando</h3>
                <p>S&aacute;bado, 10 de Outubro de 2015  &agrave;s 11h.</p>
                <h3>Onde</h3>
                <p>Rua Lu&iacute;s Gama, 1848 - Jardim Arapua, Lins - SP.</p>
              </div>
            </div>
            
            <div class="col-md-4 col-xs-12 col-sm-4 event-map no-hor-padding">
              <a href="https://www.google.com/maps/place/R.+Luís+Gama,+1848+-+Jardim+Arapua,+Lins+-+SP,+16400-472/" target="_blank">
                <img class="img-responsive" src="http://maps.googleapis.com/maps/api/staticmap?center=R.+Luís+Gama,+1848+-+Jardim+Arapua,+Lins+-+SP,+16400-472&zoom=16&scale=1&size=340x320&maptype=roadmap&format=png&visual_refresh=true&markers=icon:http://mairiseraphael.com/imgs/pin_mapa.png%7Cshadow:true%7CR.+Luís+Gama,+1848+-+Jardim+Arapua,+Lins+-+SP,+16400-472" alt="Google Map of R. Luís Gama, 1848 - Jardim Arapua, Lins - SP, 16400-472">
              </a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-2"></div>
    </div>

    <!-- GUEST CONFIRMATION
    ================================================== -->

    <div id="guest-confirmation" class="title">
      <header class="section-divisor">
            <div class="ribbon-title">
                <h3 class="pathway-font">CONFIRMAR PRESEN&Ccedil;A</h3>
            </div>
      </header>
    </div>

    <div class="row" ng-controller="GuestConfirmationController as guestConfirmation">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div id="guest-confirmation-content" class="col-xs-12 text-center white-box">
          <h4 class="glegoo-font">Sua presen&ccedil;a &eacute; muito importante para n&oacute;s!</h4>
          <a id="rsvp-btn" class="btn btn-info pathway-font" data-toggle="modal" href="#rsvp-modal" role="button">RSVP</a>

          <!-- modal -->
          <div id="rsvp-modal" class="modal fade">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">

                <div class="modal-header">
                  <div class="container-fluid">
                    
                    <div class="row">
                      <div class="col-md-12 text-right">
                        <div class="rsvp-close-btn">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                      </div>
                      <div class="col-md-3"></div>
                      <div class="col-md-6">
                        <h1 class="modal-title pathway-font">CONFIRMAR PRESEN&Ccedil;A<span> (RSVP)</span></h1>
                        <p>Ol&aacute;, convidado. Confirme abaixo sua presen&ccedil;a.</p>
                      </div>
                      <div class="col-md-3"></div>
                    </div>

                  </div>
                </div>

                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-12 no-hor-padding">
                      <div class="rsvp-body white-box">

                      <form id="rsvp-form" role="form" data-toggle="validator">
                        <div class="row">
                            <div class="form-group col-md-4 col-sm-12 text-left">
                              <label>
                                <h1 class="pathway-font">NOME</h1>
                              </label>  
                              <input class="form-control" id="name" name="name" placeholder="Nome igual consta no convite" required type="text" ng-model="guestConfirmation.name">
                            </div>

                            <div class="form-group col-md-4 col-sm-12 text-left">
                              <label>
                                <h1 class="pathway-font">E-MAIL</h1>
                              </label>  
                              <input class="form-control" id="email" name="email" placeholder="exemplo@exemplo.com" type="email" ng-model="guestConfirmation.email">
                            </div>

                            <div class="form-group col-md-4 col-sm-12 text-left">
                              <label>
                                <h1 class="pathway-font">TELEFONE</h1>
                              </label>  
                              <input class="form-control phone_with_ddd" id="phone" name="phone" placeholder="Somente números" required type="tel" ng-model="guestConfirmation.phone">
                            </div>
                        </div> <!-- form-inline -->

                      </div> <!-- rsvp-body -->
                    </div> <!-- white-box -->
                  </div> <!-- row -->

                  <div class="rsvp-btns row">
                    <div class="form-option text-center">

                      <div class="col-md-4"><input class="btn btn-info btn-lg btn-block pathway-font btn-margin-v" name="confirm" type="submit" value="CONFIRMAR" ng-model="guestConfirmation.presence" ng-click="guestConfirmation.confirm(true)"></div>

                      <div class="col-md-4"><input class="btn btn-danger btn-lg btn-block pathway-font btn-margin-v" name="decline" type="submit" value="NÃO PODEREI IR" ng-model="guestConfirmation.presence" ng-click="guestConfirmation.confirm(false)"></div>                      

                    </div> <!-- form-option -->
                  </div> <!-- row -->

                  </form>
                </div> <!-- modal-body -->
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->

        </div>
      </div>
      <div class="col-md-2"></div>
    </div>


    <!-- WISH LIST
    ================================================== -->
    <div id="wish-list" class="title">
      <header class="section-divisor">
            <div class="ribbon-title">
                <h3 class="pathway-font">LISTA DE PRESENTES</h3>
            </div>
      </header>
    </div>

    <div class="row wish-item">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <a href="https://carrinho.americanas.com.br/lista-de-casamento/pages/BridalRegistryHomePage/bridalRegistryId/01-02-11268880/#" target="_blank">
          <div class="white-box">
            <div class="row">
              <div class="col-md-4">
                <div class="">
                  <h2 class="pathway-font text-uppercase">Lista de presentes</h2>
                  <span>www.americanas.com.br</span>
                </div>
              </div> <!-- col-md-4 -->
              <div class="col-md-8">
                <div class="description">
                  <h3 class="pathway-font text-uppercase">Descri&ccedil;&atilde;o</h3>
                  <p>Eletrodom&eacute;sticos, utens&iacute;lios de cozinha, prataria e tudo que precisamos para deixar nossa casa bem aconchegante para receber vocês.</p>
                </div>
              </div>
            </div> <!-- row -->
          </div>
        </a>

      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row wish-item collapse">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <a href="#" target="_blank">
          <div class="white-box">
            <div class="row">
              <div class="col-md-4">
                <div class="">
                  <h2 class="pathway-font text-uppercase">Cotas de lua de mel</h2>
                  <span></span>
                </div>
              </div> <!-- col-md-4 -->
              <div class="col-md-8">
                <div class="description">
                  <h3 class="pathway-font text-uppercase">Descri&ccedil;&atilde;o</h3>
                  <p>Ajude a tornar nossa viagem &agrave; Macei&oacute; ainda mais inesquec&iacute;vel com cotas de lua de mel.</p>
                </div>
              </div>
            </div> <!-- row -->
          </div>
        </a>
        
      </div>
      <div class="col-md-2"></div>
    </div>



    <!-- COUNTDOWN
    ================================================== -->
    <div id="countdown" ng-controller="CountdownController as countdown">
      <div class="container-fluid">
        <div class="container">
          <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
              <div class="pathway-font text-center">
                <p class="pathway-font uppercase">Faltam apenas <strong class="playfair-font">{{countdown.getRemainingDays()}}</strong> dias para o grande dia.</p>
                <!--<p class="pathway-font visible-xs uppercase">Faltam apenas<br> <strong class="playfair-font">{{countdown.getRemainingDays()}}</strong><br> dias para o grande dia.</p> -->
              </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $('.phone_with_ddd').mask('(00) 00000-0000');
    </script>
  </body>
</html>